body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size:  3rem;
  color: #e2dbdb;

}
hr {
  boarder-color: #F05F44;
  boarder-width: 3px;
  max-width:  65px;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  color: darkred;

.btn-x1 {
  padding: 1rem 2rem;

}


